
body{margin:0;background:#0a0003;color:white;font-family:Arial;}
.sidebar{position:fixed;left:0;top:0;width:330px;height:100%;background:#140003;
border-right:4px solid #ff0033;box-shadow:0 0 25px #ff0033;padding:25px;}
.sidebar a{display:block;color:#ff3366;margin:15px 0;text-decoration:none;font-size:22px;
text-shadow:0 0 10px #ff0033;}
.sidebar p{color:#ff6688;}
.content{margin-left:360px;padding:20px;}
.card{border:3px solid #ff0033;padding:20px;margin:20px 0;border-radius:15px;
box-shadow:0 0 25px #ff0033;background:#1a0004;}
button{padding:12px 20px;background:#ff0033;color:white;border:none;border-radius:10px;
font-size:18px;cursor:pointer;box-shadow:0 0 15px #ff0033;}
input,select,textarea{background:#000;color:#ff99aa;border:2px solid #ff0033;
padding:10px;border-radius:8px;width:80%;}
